<div class="jumbotron text-center" ng-if="!main.loggedIn">
	
	<div>
		<div class="col-md-12">
		<h2>Hi! Welcome to Abroad. Good to see you here....</h2>
		</div>
		<div>
			<div class="col-md-6">
				
			</div>
			<div>
				Created & Developed By <a href="">Ashutosh Ojha </a><!-- , (He Loves to reduce the complexity of the Algorithm). Please Sign up!  -->	
			</div>
			
		</div>
	</div>

	<div>
		
		<p>Log-in to write your Blog.</p>
		<a href="/login" class="btn btn-primary"> Login </a>
		<a href="/signup" class="btn btn-warning"> Signup </a>
		
	</div>
</div>

<div class="row" ng-if="main.loggedIn">
	
	<div class="col-md-3">
		
	</div>

	<div class="col-md-4" ng-controller="StoryController as story">
		
		<div class="row">
			
			<div class="panel panel-primary">
				
				<div class="panel-heading">
					Write Your Story
				</div>				

				<div class="panel-body">
					
					<form class="" ng-submit="story.createStory()">
						
						<input class="form-control input-lg" type="text" name="story" ng-model="story.storyData.content" placeholder="......." required>

					</form>

				</div>

			</div>

			<div class="panel panel-success">
				
				<div class="panel-heading">
					Your Stories
				</div>
				
				<div class="panel-body" ng-repeat="each in story.stories |  reverse">
					
					<p> {{ each.content }}</p>
				</div>

			</div>

		</div>

	</div>

	<div class="col-md-3">
		
	</div>

</div>  
